USE [_API_shop]
GO
/****** Object:  Table [dbo].[CATEGORIES]    Script Date: 10/03/2026 19:53:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIES](
	[CATEGORY_ID] [int] IDENTITY(1,1) NOT NULL,
	[CATEGORY_NAME] [varchar](50) NOT NULL,
 CONSTRAINT [PK_CATEGORIES] PRIMARY KEY CLUSTERED 
(
	[CATEGORY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDER_ITEM]    Script Date: 10/03/2026 19:53:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDER_ITEM](
	[ORDER_ITEM_ID] [int] IDENTITY(1,1) NOT NULL,
	[PRODUCT_ID] [int] NOT NULL,
	[ORDER_ID] [int] NOT NULL,
	[QUANTITY] [int] NOT NULL,
 CONSTRAINT [PK_ORDER_ITEM] PRIMARY KEY CLUSTERED 
(
	[ORDER_ITEM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDERS]    Script Date: 10/03/2026 19:53:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDERS](
	[ORDER_ID] [int] IDENTITY(1,1) NOT NULL,
	[ORDER_DATE] [date] NOT NULL,
	[ORDER_SUM] [float] NOT NULL,
	[USER_ID] [int] NOT NULL,
 CONSTRAINT [PK_ORDERS] PRIMARY KEY CLUSTERED 
(
	[ORDER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTS]    Script Date: 10/03/2026 19:53:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTS](
	[PRODUCT_ID] [int] IDENTITY(1,1) NOT NULL,
	[PRODUCT_NAME] [varchar](50) NOT NULL,
	[PRICE] [float] NOT NULL,
	[CATEGORY_ID] [int] NOT NULL,
	[DESCRIPTION] [varchar](max) NULL,
 CONSTRAINT [PK_PRODUCTS] PRIMARY KEY CLUSTERED 
(
	[PRODUCT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RATING]    Script Date: 10/03/2026 19:53:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RATING](
	[RATING_ID] [int] IDENTITY(1,1) NOT NULL,
	[HOST] [nvarchar](50) NULL,
	[METHOD] [nchar](10) NULL,
	[PATH] [nvarchar](50) NULL,
	[REFERER] [nvarchar](100) NULL,
	[USER_AGENT] [nvarchar](max) NULL,
	[Record_Date] [datetime] NULL,
 CONSTRAINT [PK_RATING] PRIMARY KEY CLUSTERED 
(
	[RATING_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 10/03/2026 19:53:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[userId] [int] IDENTITY(1,1) NOT NULL,
	[userEmail] [varchar](50) NOT NULL,
	[userFirstName] [varchar](50) NULL,
	[userLastName] [varchar](50) NULL,
	[password] [varchar](50) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CATEGORIES] ON 

INSERT [dbo].[CATEGORIES] ([CATEGORY_ID], [CATEGORY_NAME]) VALUES (1, N'לבית ולמטבח')
INSERT [dbo].[CATEGORIES] ([CATEGORY_ID], [CATEGORY_NAME]) VALUES (2, N'טקסטיל')
INSERT [dbo].[CATEGORIES] ([CATEGORY_ID], [CATEGORY_NAME]) VALUES (3, N'אופנה')
SET IDENTITY_INSERT [dbo].[CATEGORIES] OFF
GO
SET IDENTITY_INSERT [dbo].[ORDER_ITEM] ON 

INSERT [dbo].[ORDER_ITEM] ([ORDER_ITEM_ID], [PRODUCT_ID], [ORDER_ID], [QUANTITY]) VALUES (1, 2, 16, 2)
INSERT [dbo].[ORDER_ITEM] ([ORDER_ITEM_ID], [PRODUCT_ID], [ORDER_ID], [QUANTITY]) VALUES (2, 1, 18, 5)
INSERT [dbo].[ORDER_ITEM] ([ORDER_ITEM_ID], [PRODUCT_ID], [ORDER_ID], [QUANTITY]) VALUES (3, 5, 18, 6)
SET IDENTITY_INSERT [dbo].[ORDER_ITEM] OFF
GO
SET IDENTITY_INSERT [dbo].[ORDERS] ON 

INSERT [dbo].[ORDERS] ([ORDER_ID], [ORDER_DATE], [ORDER_SUM], [USER_ID]) VALUES (16, CAST(N'2026-02-23' AS Date), 90, 26)
INSERT [dbo].[ORDERS] ([ORDER_ID], [ORDER_DATE], [ORDER_SUM], [USER_ID]) VALUES (18, CAST(N'2026-03-10' AS Date), 1135, 30)
INSERT [dbo].[ORDERS] ([ORDER_ID], [ORDER_DATE], [ORDER_SUM], [USER_ID]) VALUES (19, CAST(N'2026-03-10' AS Date), 1547, 34)
SET IDENTITY_INSERT [dbo].[ORDERS] OFF
GO
SET IDENTITY_INSERT [dbo].[PRODUCTS] ON 

INSERT [dbo].[PRODUCTS] ([PRODUCT_ID], [PRODUCT_NAME], [PRICE], [CATEGORY_ID], [DESCRIPTION]) VALUES (1, N'קרש חיתוך מעץ אלון יוקרתי', 149, 1, N' קרש חיתוך עמיד ואיכותי העשוי מעץ אלון מלא, עליו ניתן לחרוט בלייזר שמות משפחה, מתכונים נוסטלגיים או הקדשות אישיות. זהו פתרון מושלם להגשה מרשימה של גבינות ואירוח, המשלב פרקטיקה עם נגיעה עיצובית חמה במטבח')
INSERT [dbo].[PRODUCTS] ([PRODUCT_ID], [PRODUCT_NAME], [PRICE], [CATEGORY_ID], [DESCRIPTION]) VALUES (2, N'סט תחתיות לכוסות משעם', 45, 1, N' סט של 6 תחתיות טבעיות המונעות סימני רטיבות על השולחן, עם אפשרות להדפסת משפטי השראה או שמות האורחים על כל תחתית. עיצוב מינימליסטי שמוסיף אופי לכל פינת אוכל או סלון')
INSERT [dbo].[PRODUCTS] ([PRODUCT_ID], [PRODUCT_NAME], [PRICE], [CATEGORY_ID], [DESCRIPTION]) VALUES (3, N'ספל מאג קרמי עם כיתוב מוזהב', 39, 1, N'ספל קפה קלאסי בגימור מט, עליו ניתן להדפיס שם או משפט בוקר טוב באותיות זהב בולטות ויוקרתיות. המתנה האידיאלית למי שרוצה לפתוח את היום עם חיוך ומסר אישי על השולחן')
SET IDENTITY_INSERT [dbo].[PRODUCTS] OFF
GO
SET IDENTITY_INSERT [dbo].[RATING] ON 

INSERT [dbo].[RATING] ([RATING_ID], [HOST], [METHOD], [PATH], [REFERER], [USER_AGENT], [Record_Date]) VALUES (1, N'localhost:44324', N'GET       ', N'/favicon.ico', N'https://localhost:44324/home.html', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.0.0 Safari/537.36 Edg/145.0.0.0', CAST(N'2026-02-22T00:12:25.043' AS DateTime))
INSERT [dbo].[RATING] ([RATING_ID], [HOST], [METHOD], [PATH], [REFERER], [USER_AGENT], [Record_Date]) VALUES (2, N'localhost:44324', N'GET       ', N'/openapi/v1.json', N'https://localhost:44324/swagger/index.html', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.0.0 Safari/537.36 Edg/145.0.0.0', CAST(N'2026-02-22T00:12:29.957' AS DateTime))
INSERT [dbo].[RATING] ([RATING_ID], [HOST], [METHOD], [PATH], [REFERER], [USER_AGENT], [Record_Date]) VALUES (3, N'localhost:44324', N'GET       ', N'/api/Categories', N'https://localhost:44324/swagger/index.html', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.0.0 Safari/537.36 Edg/145.0.0.0', CAST(N'2026-02-22T00:12:35.157' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[RATING] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([userId], [userEmail], [userFirstName], [userLastName], [password]) VALUES (26, N'yossi.levi@example.com', N'Yossef', N'Levi', N'K9#bV2!mP98qZ')
INSERT [dbo].[User] ([userId], [userEmail], [userFirstName], [userLastName], [password]) VALUES (27, N'sara.cohen@example.com', N'Sara', N'Cohen', N'Th7@nB$uR41xW')
INSERT [dbo].[User] ([userId], [userEmail], [userFirstName], [userLastName], [password]) VALUES (28, N'moshe.ab@example.com', N'Moshe', N'Abraham', N'G2*fD9&sL05vK')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[ORDER_ITEM]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_ITEM_ORDERS] FOREIGN KEY([ORDER_ID])
REFERENCES [dbo].[ORDERS] ([ORDER_ID])
GO
ALTER TABLE [dbo].[ORDER_ITEM] CHECK CONSTRAINT [FK_ORDER_ITEM_ORDERS]
GO
ALTER TABLE [dbo].[ORDER_ITEM]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_ITEM_PRODUCTS] FOREIGN KEY([PRODUCT_ID])
REFERENCES [dbo].[PRODUCTS] ([PRODUCT_ID])
GO
ALTER TABLE [dbo].[ORDER_ITEM] CHECK CONSTRAINT [FK_ORDER_ITEM_PRODUCTS]
GO
ALTER TABLE [dbo].[ORDERS]  WITH CHECK ADD  CONSTRAINT [FK_ORDERS_User] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[User] ([userId])
GO
ALTER TABLE [dbo].[ORDERS] CHECK CONSTRAINT [FK_ORDERS_User]
GO
ALTER TABLE [dbo].[PRODUCTS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTS_CATEGORIES] FOREIGN KEY([CATEGORY_ID])
REFERENCES [dbo].[CATEGORIES] ([CATEGORY_ID])
GO
ALTER TABLE [dbo].[PRODUCTS] CHECK CONSTRAINT [FK_PRODUCTS_CATEGORIES]
GO
